.Lakier {
    display: flex;
    border-radius: 5px;
    width: 30%;
}

.Lakier:hover {
    border: 1px solid black;
}

.Data {
    width: 300px;
    margin: 10px;
    justify-items: center;
    text-align: center;
}

img:hover {
    border: 1px solid black;
}
